html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container button {
    font-size: 40px;
    padding: 0px;
    padding-top: 30px;
    border: none;
    background: white;
    text-align: left;
}

.logologo {
    font-size: 32px;
    color: #535353;
    text-decoration: none;
}

.sidebar a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: #252525;
    font-weight: 500;
    padding: 3px 0px;

}

.container a {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: #252525;
    font-weight: 500;
    padding: 3px 0px;

}

.container {
    margin-top: 120px;
    margin-left: 150px;
    width: 1200px;
    height: 1200px;
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-template-columns: repeat(3, 3fr);
    align-content: start;
    /*    justify-content: end;*/
    grid-gap: 25px 25px;
    /*    grid-auto-rows: 100px;*/
    /*    grid-auto-columns: 30px;*/
    /*
    grid-auto-rows: minmax(100px, 100px);
    grid-auto-columns: minmax(300px, 100px);
*/
    /*    grid-template-columns: fit-content(1fr) fit-content(1fr);*/
    /*    grid-template-columns: max-content 3fr;*/


}

.item {
    /*overflow: auto;*/
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 2px 2px 9px 2px #EBEBEB;
    /*    min-width: 30%;*/
}

.item:nth-child(1) {

    /*     Row 1번에서 3번(1+2=3)까지 */
    grid-row-start: 1;
    grid-row-end: span 2;
}

.item:nth-child(2) {

    /*     Row 1번에서 3번(1+2=3)까지 */
    grid-row-start: 2;
    grid-row-end: span 2;
}



/*메뉴 시작합니다*/
/*메뉴 겉치레*/
.menuBar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0px 32px;
    z-index: 100;
    display: inline-block;
    font-family: bookmania, serif;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: white;
}

.menuIconGroup {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 50%;
    line-height: 1.42;
}

#menuIcon {
    width: 32px;
    height: auto;
    transition: 0.3s;
}

#menuIcon:hover {
    padding: 0px 10px;
}

.openbtn {
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: white;
}


/*메뉴안짝*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 96px;
    background-color: #E8E8E8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #252525;
    display: block;
    transition: 0.3s;
    padding-top: 12px;
    padding-left: 50px;
}

.sidebar a:hover {
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/*<!--    박스 바깥헤더 시작-->*/
.topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    /*        padding: 45px;*/
    margin: 0;
}

@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/*헤더안에 돋보기시작*/
.searchBody {
    margin: 0;
    padding: 0;

}

.middle {
    position: absolute;
    top: 45px;
    right: 30px;
    /*        transform: translate(1%, 1%);*/
}

.inputSer {

    width: 25px;
    height: 25px;
    background: none;
    border-radius: 50%;
    /*        border: rgba( 255, 255, 255, 0.0 );*/
    border: 4px solid #252525;
    box-sizing: border-box;
    outline: none;
    transition:
        width 0.4s ease-in-out,
        border-radius 1s ease-in-out,
        padding 1s;

    transition-delay: 0.1s;
    color: #252525;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    float: right;
}

.inclicked {
    width: 1400px;
    /*    서치길이조절*/
    border-radius: 0;
    padding: 0 20px;
    padding-right: 40px;
    border: none;
    border-bottom: 4px solid #252525;

}

.btnSer {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btnSer::before {
    content: "";
    width: 4px;
    height: 15px;
    background: #252525;
    position: absolute;
    transform: rotate(-45deg);
    bottom: 25px;
    right: -3px;
    transition: 0.5s;
}

.close::before,
.close::after {
    content: "";
    width: 4px;
    height: 20px;
    background: #252525;
    position: absolute;
    bottom: 5px;
    right: 30px;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
}

/*서치바 드롭다운*/

/*//모달 친구들*/
#modal {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#modal .modal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

#modal .button {
    background: white;
}

#modal_opne_btn {
    font-family: 'Roboto', sans-serif;
}

/*메인 박스+스크롤*/
#inboxContainer {
    position: fixed;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 2vw;
    width: calc(90% - 136px);
    height: 80%;
    top: 100px;
    left: 130px;
    right: 0px;
    /*    margin: 20px;*/
    padding: 0;
    box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
}

#inboxContainer {
    direction: rtl;
    text-align-last: left;
    /* css scrollbar left */
    overflow: auto;
}

#inboxContainer::-webkit-scrollbar {
    width: 10px;
}

/*막대기(짧은거)*/
#inboxContainer::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
    border-radius: 15px;
}

/*여백(긴 거)*/
#inboxContainer::-webkit-scrollbar-track {
    border-radius: 15px;
}


/*박스 좌측 링크들*/
#all-in-onelist {
    position: relative;
    overflow-y: visible;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 700;
    /*        width: calc(30% - 0px);*/
    width: 40%;
    height: auto;
    float: left;
    padding: 20px 20px 30px 40px;

}

/*링크묶음*/
.each_link {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 리스트 링크 마우스 대면 태그 나오는 거 만들기 시작*/
/*li 링크 각묶음*/
.on_link {
    position: relative;
    display: inline-block;
    width: 100%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: .0.2s;
}

.on_link:hover {
    padding-bottom: 50px;
}

.on_link:hover .undertag {
    display: inline;
}

/*링크제목*/
.onlink_atag {
    display: block;
    color: #252525;
    text-decoration: none;
    margin: 0;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: .0.2s;
    /*어떻게 개별적으로 하나하나에 패딩을 주지?*/
}

.onlink_atag:not(.add):hover {
    color: #535353;
    opacity: 0.8;
}

.undertag {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    line-height: 0;
    margin-top: -15px;
}

.undertag {
    display: none;
    position: absolute;

}

.underbutton {
    background-color: #e8e8e8;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 3px 10px;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: .0.2s;
}

.underbutton:hover {
    background-color: #FA3838;
    color: #ffffff;
}

/*추가하기링크*/
.add {
    text-decoration: underline;
    text-decoration-color: #FA3838;
    color: #FA3838;
    opacity: 0.2;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: .0.2s;
}

.add:hover {
    color: #fa3838;
    opacity: 0.7;
}

/*박스 우측 이미지*/


#fix_contents {
    position: fixed;
    float: right;
    width: calc(45% - 20px);
    height: 65%;
    top: 12%;
    right: 12%;
    padding: 30px;
    margin: 0;
    z-index: 2;

}

/*박스 상단 올인원+엑스+버튼*/
.inboxCategory {
    position: relative;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.tinyallinone {
    font-size: 3vw;
    width: 200px;
    margin: 5px 0px;
    z-index: 3;
}

#modal_close_btn {
    float: right;
    display: block;
    padding: 6px;
    padding-top: 15px;
    border: none;
    background: white;
}

.controls {
    float: right;
    display: block;
    border: none;
    opacity: 0.3;
    padding: 6px;
    padding-top: 15px;
}

/*박스 안에 저장 초기화 버튼들*/
#modal .reset {
    background-color: #e8e8e8;
    color: #252525;
    border: none;
    border-radius: 8px;
    padding: 3px 10px;
    margin: 0px 6px;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: .0.2s;
}

.reset:hover {
    background-color: #252525;
    color: #ffffff;
}

.inboxImg {
    box-sizing: border-box;
    /*    border-radius: 1vw;*/
    display: inline-block;
    position: relative;
    float: left;
    object-fit: cover;
    width: 100%;
    height: 85%;
    padding: 0;
    margin-top: 10px;

    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*박스 우측 메모패드*/
.Memopad {
    z-index: 2;
    display: inline-block;
    position: relative;
    width: 98%;
    height: auto;
    padding: 0;
}

#memo {
    width: 70%;
    height: auto;
    /* 높이 초기화 */
    line-height: normal;
    /* line-height 초기화 */
    padding: .8em .5em;
    /* 여백 설정 */
    color: #252525;
    opacity: 0.3;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: .0.2s;
}

#memo:hover {
    color: #252525;
    opacity: 1;
}

#memo:focus {
    outline: none;
}
